{% extends 'whereami/base_list.html' %}
{% load static %}

{% block title %}about anna{% endblock title %}
{% block h1 %}Short intro{% endblock h1 %}
{% block main %}
<div class="content">
    <p>
        I'm Anna Téglássy
            <img class="face" src="{% static 'images/anna.png' %}" alt="anna's face">
            <span id="span-face"><img class="red-arrow" src="{% static 'images/arrow.png' %}">&nbsp;this is me (stolen from linkedin)
        </span>
    </p>
    <p>
        This year I reached the milestone thirty and I have decided to be as simple and honest as I can after that I realized it works!<br />
        I have been working as a programmer for two years but I graduated as a painter, which I usually like to mention, it sounds like a nice combination (and actually it is!).<br />
        I have had different kind of jobs, and some travel experiences.<br />
        I worked as a drawing teacher, art camp organizer, a volunteer in Istanbul and last time as a programmer so far.
    </p>

    <h2>How to use this site</h2>
    <p>
        This site is created to represent something about me through pictures because you can find my detailed and more serious bio on linkedin.
        Just keep it simple...and use django :)
    </p>
    <p>
        At "whereami" you can find my favourite trips and experiences.
        In the "artstuff" section my art related works are gathered.
    </p>
    <p>The whole site is still in progress, I have been deploying and uploading files continuously.</p>
</div>
{% endblock main %}
