{% extends 'whereami/base_list.html' %}
{% load static %}

{% block title %}anna & art{% endblock title %}
{% block h1 %}About art{% endblock h1 %}

{% block main %}
<div class="pure-g gallery">
    <div class="image-container photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <img class="image pure-img-responsive" src="{% static 'images/painting.jpg' %}" alt="painting">
        <div class="overlay">
            <div class="text">
                <a href="{% url 'painting-list' %}">Hello paintings!</a>
            </div>
        </div>
    </div>
    <div class="image-container photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <img class="image pure-img-responsive" src="{% static 'images/illustration.jpg' %}" alt="illustration">
        <div class="overlay">
            <div class="text">
                <a href="{% url 'collage-list' %}">Hello illustrations!</a>
            </div>
        </div>
    </div>
    <div class="image-container photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <img class="image pure-img-responsive" src="{% static 'images/collage.jpg' %}" alt="collage">
        <div class="overlay">
            <div class="text">
                <a href="{% url 'collage-list' %}">Hello collages!</a>
            </div>
        </div>
    </div>
    <div class="image-container photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <img class="image pure-img-responsive" src="{% static 'images/animation.jpg' %}" alt="animation">
        <div class="overlay">
            <div class="text">
                <a href="{% url 'collage-list' %}">Hello animations!</a>
            </div>
        </div>
    </div>
    <div class="image-container photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <img class="image pure-img-responsive" src="{% static 'images/lino.jpg' %}" alt="linocut">
        <div class="overlay">
            <div class="text">
                <a href="{% url 'painting-list' %}">Hello linos!</a>
            </div>
        </div>
    </div>
    <div class="image-container photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <img class="image pure-img-responsive" src="{% static 'images/installation.jpg' %}" alt="installation">
        <div class="overlay">
            <div class="text">
                <a href="{% url 'collage-list' %}">Hello installations!</a>
            </div>
        </div>
    </div>
{% endblock main %}
