{% extends 'whereami/base_list.html' %}
{% block title %}anna & art{% endblock title %}
{% block h1 %}About art{% endblock h1 %}
{% block h2 %}and our relations...{% endblock h2 %}
{% block inner %}
<div class="pure-g">
    <div class="image-container photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <img class="image pure-img-responsive" src="/static/painting.jpg" alt="painting">
        <div class="overlay">
            <div class="text">
                <a href="{% url 'painting-list' %}">Hello paintings!</a>
            </div>
        </div>
    </div>
    <div class="image-container photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <img class="image pure-img-responsive" src="/static/lino.jpg" alt="painting">
        <div class="overlay">
            <div class="text">
                <a href="{% url 'painting-list' %}">Hello paintings!</a>
            </div>
        </div>
    </div>
    <div class="image-container photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <img class="image pure-img-responsive" src="/static/collage.jpg" alt="painting">
        <div class="overlay">
            <div class="text">
                <a href="{% url 'collage-list' %}">Hello coll!</a>
            </div>
        </div>
    </div>
    <div class="image-container photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <img class="image pure-img-responsive" src="/static/illustration.jpg" alt="painting">
        <div class="overlay">
            <div class="text">
                <a href="{% url 'painting-list' %}">Hello paintings!</a>
            </div>
        </div>
    </div>
{% endblock inner %}