{% extends 'whereami/base_list.html' %}

{% block title %}anna & travels{% endblock title %}
{% block h1 %}usually in Budapest but sometimes...{% endblock h1 %}

{% block main %}
<div class="pure-g gallery">
    {% for travel in travels %}
    <div class="image-container photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <img class="image pure-img-responsive" src="{{ travel.photo.url }}" alt="travel">
        <div class="overlay">
            <div class="text">
                <a href="{% url 'travel-details' travel.pk %}">{{ travel.title }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock main %}
